body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkblue;
    padding: 6px 10px;
    
}

.company-name {
    text-decoration: none;
    font-size:30px;
    font-weight: bold;
    color:white;
    font-family:monospace;

}

.link {
    text-decoration: none;
    font-size: 20px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.logo {
    width: 130px;
    height: auto;
    margin-left:2px;
    margin-right: 2px;;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px; 
}

.top-funnel {
    display: flex;
    flex-wrap: wrap;
    background-color:coral;
    flex-direction: row;
}

.top-funnel-words {
    padding: 20px;
    margin: 20px;
    width: 80%;
}

.top-funnel-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color:black;
}

.top-funnel-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color:rgb(80, 78, 78);
    margin-bottom: 10px;
}

.funnel-photo {
    width: 10%;
    height: auto;
    object-fit:contain;
}

.main-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color:cyan;
    color:beige;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

.programmes {
    display: flex;
}

.quote-container {
    padding: 20px;
}

.bottom-funnel {
    display: flex;
}

.footer {
    text-align: center;
    background-color:darkblue;
    margin-top: auto;
}


